<form action="/getForm" name="login1" method="get">
      <input type="text" id="getId" name="id" placeholder="id" />
      <input type="password" id="getPassword" name="pw" placeholder="pw" />
      <button type="submit">제출</button>
    </form>