<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>form 실습</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>GET 요청</h2>
    <%- include("./getForm") %>
    <h2>POST 요청</h2>
    <form action="/postForm" name="login2" method="post">
      <input type="text" id="postId" name="id" placeholder="id" />
      <input type="password" id="postPassword" name="pw" placeholder="pw" />
      <button type="submit">제출</button>
    </form>
  </body>
</html>
